/* src/pages/HomePage.module.css

   このファイルはホームページ専用のスタイルシートです。
   主なデザイン要素としては、メインビジュアル、テキストエリア、検索フォーム、リンク一覧などがあります。
   コンポーネントが分かりやすくメンテナンスしやすいように、機能ごとにクラスを分割しています。
*/

/* 共通のブランドカラー */
.brandColor {
  color: #ee2214;
}

/* モバイル用のバナー画像スタイル */
.bannerMobile {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  height: 200px; /* ここで高さを指定 */
  width: 100%;
}

/* デスクトップ用のバナー画像スタイル */
.bannerDesktop {
  background-size: auto 100%; /* 高さを100%に固定、横幅を自動調整 */
  background-repeat: no-repeat;
  background-position: left center; /* 左寄せ */
  position: relative;
  height: 820px; /* ここで高さを指定 */
  width: 100%;
}

/* バナー画像内のテキストエリアや検索フォームのスタイル */
.bannerContent {
  position: absolute;
  top: 60%; /* ここで縦方向の位置を調整 */
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.search {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 400px; /* ここで検索ボックスの幅を調整 */
  margin: auto;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 10px;
  border-radius: 20px;
}

.searchIcon {
  padding-right: 10px;
}

.searchInput {
  width: 100%;
  padding: 10px;
  font-size: 16px; /* ここでフォントサイズを調整 */
  border: none;
  outline: none;
  background: none;
}
