/* src/DrawerMenu.module.css

   このファイルは引き出しメニュー（DrawerMenu）のスタイルシートです。
*/

.drawerHeader {
  display: flex;
  justify-content: flex-end;
  padding: 10px;
  cursor: pointer;
}

.link {
  height: 40px;
  margin-left: 20px;
  display: flex;
  align-items: center;
}

.link svg {
  margin-right: 20px;
}
